{% load static %}
<!DOCTYPE html>
<html>
<head>
<!--<script src="{% static 'plotly-latest.min.js' %}"></script>-->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script> 
		var soundsStaticPath = "{% static 'sounds' %}";
		var setGraphValueUrl = "{% url 'set_value' %}";
		var setContextUrl = "{% url 'set_context' %}";
		var getUsersUrl = "{% url 'get_all_users' %}";
		var onlineModeUrl = "{% url 'online_mode_data' %}";
		var newParametersUrl = "{% url 'set_new_exercise_parameters' %}";
		var getGraphDataUrl = "{% url 'get_graph_data' %}";
		var getCurrentCycleUrl = "{% url 'get_current_cycle' %}";
	</script>
</head>
<body>

	<div id="cyclesInfo">
		<p id="cycleText" style='text-align: left;'><strong>Cycle 1 of 2</strong></p>
	</div>

	<div id="restArea">
		<p hidden id="restText"><strong>Rest: 00:00:00</strong></p>
	</div>

	<label id="currentUserText" for="user_select">Current User:</label>

	<div id="user_select">
		<select id="users_" name="users_">
		</select>
	</div>

	<div id="onlineSwitchDiv">
		<label class="switch">
		  <input id="onlineSwitch" type="checkbox">
		</label>
	</div>

	<label id="mode" for="onlineSwitch">Online Mode</label>
		
	<div id="bars">
		<canvas id="barsArea">
		</canvas>
	</div>
	<div id="graphArea">
		<canvas id="workArea"></canvas>
	</div>

	<div id="headerB">
		<label for="workValue">Work</label>
		<input type="number" value="5" id="workValue" min="3" max="15"/>
		<label for="restValue">Rest</label>
		<input type="number" value="10" id="restValue" min="10" max="50"/>
		<label for="cyclesValue">Cycles</label>
		<input type="number" value="2" id="cyclesValue" min="2" max="15"/>
		<br />
		<br />
		<!-- <label for="gain">Gain</label>
		<input type="number" value="2" id="gainValue" min="2" max="10" readonly/>
		<label for="gain">Threshold</label>
		<input type="number" value="2" id="thresholdValue" min="2" max="9" readonly/> -->
		<label for="timeValue">Time</label>
		<input type="text" value="0" id="timeValue" readonly/>
		<br />
		<br />
	</div>

	<input id="apply" type="button" value="Apply" onclick="apply()"/>

	<div class="hl"></div>

	<div class="vl"></div>

	<div class="buttons__wrap">
		<div class="form__field">
			<label for="gain">Gain</label>
			<input class= "input_class" type="number" value="4" id="gain" placeholder="Gain">
		</div>
		<div class="form__field">
			<label for="filterFreq">FilterFreq</label>
			<input class= "input_class" type="number" value="3" id="filterFreq" placeholder="FilterFreq">
		</div>
		<div class="form__field">
			<label for="noiseLvlOut">NoiseLvlOut</label>
			<input class= "input_class" type="number" value="0" id="noiseLvlOut" placeholder="NoiseLvlOut">
		</div>
		<div class="form__field">
			<label for="noiseLvlIn">NoiseLvlIn</label>
			<input class= "input_class" type="number" value="0" id="noiseLvlIn" placeholder="NoiseLvlIn">
		</div>
		<div class="form__field">
			<label for="slideAverage">SlideAverage</label>
			<input class= "input_class" type="number" value="33" id="slideAverage" placeholder="SlideAverage">
		</div>
		<div class="form__field">
			<label for="averageMS">AverageMS</label>
			<input class= "input_class" type="number" value="29" id="averageMS" placeholder="AverageMS">
		</div>
	</div>

	<input id="apply_bluetooth" type="button" value="Apply" onclick="apply()"/>

	<div class="vl1"></div>


	<div id="controlElements">

		<label id="randomCheck">
			<input type="checkbox" id="randomCheckBox" checked>
			Random Data
		</label>

		<input id="startRandomButton" type="button" value="Start" onclick="startRandom()"/>
		<input id="stopRandomButton" type="button" value="Stop" onclick="stopRandom()"/>
		<input id="resumeRandomButton" type="button" value="Resume" onclick="resumeRandom()"/>
		<input id="clearGraphButton" type="button" value="Clear Graph" onclick="clearGraph()"/>

		<p id="bl_status" style='text-align: left;'><strong>Bluetooth status: disconnected</strong></p>
		<p id="bl_data" style='text-align: left;'><strong>Bluetooth last data: -</strong></p>

		<div id="bluetooth_buttons">
			<input id="bl_connect" type="button" value="Connect" onclick="onButtonClick_BLE_connect()"/>
			<input id="bl_disconnect" type="button" value="Disconnect" onclick="onButtonClick_stop()"/>
		</div>
	</div>


	</body>
	<script src="{% static 'js/main.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
	<script>
		createGraph();
		setupUsers();
	</script>
</html>